[run]
branch = True
omit =
    */__version__.py
    routing_packager_app/logger.py
    */venv/*
    */.venv/*
    */.tox/*

[report]
omit =
    */__version__.py
    routing_packager_app/logger.py
    */venv/*
    */.venv/*
    */.tox/*
