.venv
**/.pytest_cache/
**/__pycache__/
dist/
build/
.idea/
.tox/
.coverage
htmlcov/
tests/
CHANGELOG.md
README.md
CONTRIBUTING.md
**/*.yaml
.style.yapf
docker-compose.yml

.env
**/*.pbf
**/*.json
**/*.gz
**/*.zip
**/*egg-info/
ssl/
scan*.csv

Dockerfile
.git/
.gitignore
.github/
*.pyc
*.pyd
