.venv
**/.pytest_cache/
**/__pycache__/
dist/
build/
data/
ciso_reports/
.idea/
.tox/
.coverage
.coveragerc
htmlcov/
tests/
*.md
!DESCRIPTION.md
**/*.yaml
docker-compose.yml
*.cfg

.env
**/*.pbf
**/*.json
**/*.gz
**/*.zip
**/*egg-info/
scan*.txt
*.csv
*.xlsx

Dockerfile
.git/
.gitignore
.github/
*.pyc
*.pyd
